* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
html {
	scroll-behavior: smooth;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 1000;
	transition: all 0.2s ease-in-out;
	height: auto;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
}
.header.active {
	background: #092c3d;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header.active a {
	color: #fff;
}
.header ul {
	line-height: 50px;
	list-style: none;
	display: flex;
	justify-content: center;
}
.header ul li a {
	text-decoration: none;
	margin: 0 25px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}
.header ul li.logo {
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}
/* banner */

.banner {
	height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
	background-image: url(./img/nato.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
}
.banner-text h2 {
	font-family: russo one;
	font-size: 45px;
	color: #fff;
}
.banner-text p {
	font-size: 18px;
	margin-top: 15px;
	color: #fff;
}
.banner-text a {
	text-decoration: none;
	background: orangered;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	margin-top: 25px;
	border-radius: 50px;
	text-transform: uppercase;
}
.banner:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}
/* about */

.about {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.section-header {
	margin-bottom: 40px;
}
.section-header h2 {
	font-size: 45px;
	font-family: russo one;
	text-align: center;
}
.section-header p {
	width: 50%;
	margin: auto;
	text-align: center;
	line-height: 1.9;
}
.single-about img {
	width: 40%;
}
.about-text h2 {
	font-size: 40px;
}
.about-text p {
	width: 50%;
	margin: auto;
	padding: 35px 0;
}
.about-text a {
	text-decoration: none;
	background: orangered;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	margin-top: 25px;
	border-radius: 50px;
	text-transform: uppercase;
}
/* services */

.service {
	padding: 60px 0;
}
.service-content {
	display: flex;
}
.single-service h2 {
	text-transform: uppercase;
	margin: 25px 0;
}
.single-service p {
	line-height: 1.9;
}
.single-service img {
	width: 100%;
}
.single-service {
	width: 31%;
	padding: 35px;
}
/* contact */

.single-contact {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 65%;
	justify-content: center;
	align-items: center;
}
.contact {
	padding: 60px 0;
}
.single-contact input {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 3px solid #ddd;
}
.single-contact textarea {
	width: 100%;
	border: none;
	border-bottom: 3px solid #ddd;
}
.single-contact a {
	text-decoration: none;
	background: orangered;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	margin-top: 25px;
	border-radius: 50px;
	text-transform: uppercase;
}
/* footer */

footer {
	background: #092c3d;
	text-align: center;
	line-height: 70px;
	color: #fff;
}
@media (max-width:991px) {
	.section-header p {
		width: 85%;
		line-height: 1.9;
	}
	.about-text p {
		width: 85%;
	}
	.single-service {
		width: 95%;
	}
	.service-content {
		flex-direction: column;
	}
	.single-about img {
		width: 90%;
	}
}
@media (max-width: 767px) {
	.header ul li.logo {
		font-size: 12px;
	}
	.header ul li a {
		margin: 0 12px;
		font-size: 8px;
	}
	.about, .service, .contact {
		padding: 35px 0;
	}
	.banner-text h2 {
		font-size: 27px;
	}
	.section-header h2 {
		font-size: 30px;
	}
	.about-text h2 {
		font-size: 21px;
	}
	.single-about img {
		width: 80%;
	}
	.single-service {
		width: 100%;
		padding: 0 0 25px 0;
	}
	.single-service p {
		line-height: 1.9;
	}
}